apscheduler==3.6.3; python_version >= "3.6"
asgiref==3.4.1; python_version >= "3.6"
cachetools==4.2.2; python_version >= "3.6" and python_version < "4.0"
certifi==2021.5.30; python_version >= "3.6"
django==3.2.6; python_version >= "3.6"
python-dotenv==0.17.1
python-telegram-bot==13.7; python_version >= "3.6"
pytz==2021.1; python_version >= "3.6"
six==1.16.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
sqlparse==0.4.1; python_version >= "3.6"
tornado==6.1; python_version >= "3.6"
tzlocal==2.1; python_version >= "3.6"
